astor==0.8.1
async_generator==1.10
beautifulsoup4==4.13.3
black==25.1.0
Brotli==1.0.9
brotlicffi==1.1.0.0
cffi==1.17.1
chardet==5.2.0
click==8.1.8
colorama==0.4.6
ConfigParser==7.2.0
coverage==7.7.0
cryptography==44.0.2
curio==1.6
docutils==0.21.2
exceptiongroup==1.2.2
filelock==3.18.0
h2==4.2.0
HTMLParser==0.0.2
hypothesis==6.130.0
ipython==8.12.3
ipywidgets==8.1.5
isort==6.0.1
jedi==0.19.2
jnius==1.1.0
js==1.0
keyring==25.6.0
mypy==1.15.0
numpy==2.2.4
Pillow==11.1.0
protobuf==6.30.1
pylint==3.3.6
pyodide==0.0.2
pyOpenSSL==25.0.0
pyright==1.1.397
pytest==8.3.5
python_socks==2.7.1
redis==5.2.1
ruff==0.11.2
simplejson==3.20.1
Sphinx==8.2.3
thread==2.0.5
trustme==1.2.1
urllib3_secure_extra==0.1.0
websockets==15.0.1
win_inet_pton==1.1.0
wsaccel==0.6.7
xmlrpclib==1.0.1
zstandard==0.23.0
